.DS_Store
node_modules/
public/
prof/
tsconfig.tsbuildinfo
.quartz-cache/
.replit
replit.nix
.trash/
.knowledge-vault/
*.swp
__pycache__/
.obsidian/workspace*
.obsidian/workspace.json
.obsidian/cache
cache/
.backup/
